.scroll-down {
    width: 25px;
    height: 45px;
    position: absolute;
    bottom: 3%;
    left: 50%;
    cursor: pointer;
}
.scroll-down .scroll-down_mouse{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border: 2px solid white;
    border-radius: 20px;
}
.scroll-down .scroll-down_wheel{
    width: 4px;
    height: 4px;
    top: 10px;
    left: 50%;
    position: absolute;
    background: whitesmoke;
    display: block;
    border-radius: 50%;
    margin-left: -2px;
    animation-name: scroll-wheel;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
@keyframes scroll-wheel{
    from{
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to{
        transform: translate3d(0, 10px, 0);
        opacity: 0;
    }
}

@media screen and (max-width: 600px) {
    .scroll-down {
        display: none;
    }
}