.link {
  stroke: #ccc;
}

.red {
  stroke: red;
}

.node circle {
	stroke: #ccc;
}

.node.selected circle {
	stroke: red;
}

html, body, jjs {
	height: 100%;
	width: 100%;
	margin: 0;
	border: 0;
	overflow: hidden;
	font-family: 'Roboto';
}

jjs {
	display: flex;
	justify-content: center;
}

jjs--user-friends-chart {
	height: 100%;
	width: 100%;
}

jjs--details {
	height: 100%;
	width: 100%;
	flex-basis: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 30px;
	border-right: 1px solid whitesmoke;
}

info-container {
	display: flex;
	flex-direction: column;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: .15em;
}

image-container {
	text-align: center;
	cursor: pointer;
}

image-container img {
	max-width: 100%;
	height: 200px;
}
